<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:dubbo="http://code.alibabatech.com/schema/dubbo" 
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:aop="http://www.springframework.org/schema/aop" 
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
http://www.springframework.org/schema/context
http://www.springframework.org/schema/context/spring-context-4.0.xsd
http://code.alibabatech.com/schema/dubbo
http://code.alibabatech.com/schema/dubbo/dubbo.xsd
http://www.springframework.org/schema/aop
http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
http://www.springframework.org/schema/tx
http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
http://www.springframework.org/schema/mvc
http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd
http://www.springframework.org/schema/util
http://www.springframework.org/schema/util/spring-util-4.0.xsd">
	<!-- 用于扫描使用地址 -->
	<context:property-placeholder location="classpath:resources.properties"/>
	<!-- 一,扫描 -->
	<context:component-scan base-package="cn.e3.manager.controller"></context:component-scan>
	<!-- 注解驱动 -->
	<mvc:annotation-driven/>
	
	<!-- 放行静态资源 -->
	<mvc:default-servlet-handler/>
	<!-- 视图解析器 -->
	<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/WEB-INF/jsp/"></property>
		<property name="suffix" value=".jsp"></property>
	</bean>
	<!-- 文件上传 -->
	<bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<property name="maxUploadSize" value="10240000"></property>
	</bean>
	
	
	<!-- 引用服务 -->
	<dubbo:application name="e3mall-manager-web" />
	<!-- <dubbo:registry address="multicast://224.5.6.7:1234" /> -->
	<!-- 使用dubbo从Zookeeper注册中心获取服务 -->
	<dubbo:registry protocol="zookeeper" address="192.168.158.128:2181" />
	<!-- 引用服务 -->
	<dubbo:reference interface="cn.e3.manager.service.ItemService"
		id="itemService" timeout="1000000"/>
		
		<!-- 引用服务 商品类别 -->
	<dubbo:reference interface="cn.e3.manager.service.ItemCatService"
		id="itemCatService" timeout="1000000"/>
		
		<!-- 引用服务  广告类别-->
		<dubbo:reference interface="cn.e3.content.service.ContentCategoryService"
		id="contentCategoryService" timeout="1000000"/>
		
		<!-- 广告内容 -->
			<dubbo:reference interface="cn.e3.content.service.ContentService"
		id="contentService" timeout="1000000"/>
		
	
</beans>